
@{
    ViewBag.Title = "Create";
}

<h2 style="margin-bottom:32px;">Create Traveler</h2>
<form action="/Traveler/Create" method="POST">
    <div class="mb-2">
        <label style="display: block; margin-bottom: 8px; font-weight: bold;">First Name:</label> <input type="text" name="TravelerFirstName" />
    </div>
    <div class="mb-2">
        <label style="display: block; margin-bottom: 8px; font-weight: bold;">Last Name:</label> <input type="text" name="TravelerLastName" />
    </div>
    <div class="mb-5">
        <label style="display: block; margin-bottom: 8px; font-weight: bold;">Email:</label> <input type="email" name="TravelerEmail" />
    </div>
    <div>
        <input class="btn btn-light border border-1" type="submit" value="Create Traveler" />
    </div>
</form>

