@model PassionProject_SuyeonJangB.Models.DestinationDto
@{
    ViewBag.Title = "DeleteConfirm";
}

<h2 style="margin-bottom:32px;" class="text-danger mb-5">Are you sure you want to delete this Destination?</h2>

<div >
    <h3>Name: @Model.DestinationName</h3>
    <p>Category: @Model.DestinationCategory</p>
    <p>Location: @Model.DestinationLocation</p>
</div>


<div style="display:flex; margin-top:30px;">
    <a href="/Destination/List" style="margin-right:24px"class="btn btn-light border border-1">Cancel</a>
    <form action="/Destination/Delete/@Model.DestinationId" method="POST">
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
</div>
