@model PassionProject_SuyeonJangB.Models.DestinationDto
@{
    ViewBag.Title = "Edit";
}

<h2 style="margin-bottom:32px;">Update Destination</h2>
<form action="/Destination/Update/@Model.DestinationId" method="POST">
    <input type="hidden" name="DestinationId" value="@Model.DestinationId" />
    <div class="mb-2">
        <label style="display: block; margin-bottom: 8px; font-weight: bold;">Name:</label> <input type="text" name="DestinationName" value="@Model.DestinationName" />
    </div>
    <div class="mb-2">
        <label style="display: block; margin-bottom: 8px; font-weight: bold;">Category:</label> <input type="text" name="DestinationCategory" value="@Model.DestinationCategory" />
    </div>
    <div class="mb-5">
        <label style="display: block; margin-bottom: 8px; font-weight: bold;">Location:</label> <input type="text" name="DestinationLocation" value="@Model.DestinationLocation" />
    </div>
    <div>
        <input class="btn btn-light border border-1" type="submit" value="Update Destination" />
    </div>
</form>
