
@{
    ViewBag.Title = "New";
}

<h2 style="margin-bottom:32px;">Create Destination</h2>
<form action="/Destination/Create" method="POST">
    <div class="mb-2">
        <label style="display: block; margin-bottom: 8px; font-weight: bold;">Name:</label> <input type="text" name="DestinationName" />
    </div>
    <div class="mb-2">
        <label style="display: block; margin-bottom: 8px; font-weight: bold;">Category:</label> <input type="text" name="DestinationCategory" />
    </div>
    <div class="mb-5">
        <label style="display: block; margin-bottom: 8px; font-weight: bold;">Location:</label> <input type="text" name="DestinationLocation" />
    </div>
    <div>
        <input class="btn btn-light border border-1" type="submit" value="Create Destination" />
    </div>
</form>


